body, html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    
  }
  
  .container-calculadora {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%; 
    border: 4px solid #fff;
    padding: 20px;
  }
  
 input{
    width: 400px;
    padding: 10px; 
    
    text-align: right;
    display: inline-block; 
    color: black;
    font-size: 2.5rem;
  }
  
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
    width: 100%;
  }
  
  .buttons .calc-button {
    width: 100%;
    height: 80px;
    border: none;
    font-size: 1.4em;
    background-color: #4d618b;
    color: white;
    cursor: pointer;
    outline: none;
    border-radius: 20px;
  }

  .buttons .operation-button{
    width: 100%;
    height: 80px;
    border: none;
    font-size: 1.4em;
    background-color: #f77a15;
    color: white;
    cursor: pointer;
    outline: none;
    border-radius: 20px;
  }
  

  .buttons .calc-button:hover,
    .buttons .operation-button:hover {
    opacity: 0.8; 
}




